@import "./styles/iOS.module.css";
@import "./styles/android.module.css";
@import "./styles/windows.module.css";
@import "./styles/macOS.module.css";
@import "./styles/others.module.css";

.Grid {
  position: relative;
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  overflow: hidden;
  box-sizing: border-box;
  border-radius: 8px;
  overflow: hidden;
}

.Grid__item {
  position: relative;
  display: block;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
}

.Grid__item::after {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  content: " ";
  transition: 0.3s;
  border: solid 3px transparent;
}

.Grid--selected::after {
  border: solid 3px white;
  box-shadow: inset 0px 0px 5px 0px rgb(0, 0, 0, 0.25);
}