.Textarea {
  position: relative;
  display : block;
  width   : 100%;

  appearance : none;
  border     : none;
  outline    : 0;
  padding    : 4px;
  margin     : 0;
  box-sizing : border-box;
  font-size  : var(--font_size--medium);
  line-height: var(--font_height--medium);
}