.View {
  overflow  : hidden;
  width     : 100%;
  height    : 100%;
  background: var(--bg_color);
}


.View__Container,
.View--to-next::before,
.View--to-back::before {
  position  : absolute;
  left      : 0;
  right     : 0;
  top       : 0;
  bottom    : 0;
  background: var(--bg_color);
}

.View--to-next::before,
.View--to-back::before {
  content         : " ";
  opacity         : 0;
  z-index         : 2;
  pointer-events  : none;
  background-color: var(--bg_layout_shadow);
}

.View--index-1 {
  z-index: 1;
}

.View--index-2 {
  z-index: 2;
}