html[platform="iOS"] .Spinner {}

/* Size */
html[platform="iOS"] .Spinner__size--auto svg {
  width: 100%;
  height: 100%;
}

html[platform="iOS"] .Spinner__size--small svg {
  width: 20px;
  height: 20px;
}

html[platform="iOS"] .Spinner__size--regular svg {
  width: 28px;
  height: 28px;
}

html[platform="iOS"] .Spinner__size--medium svg {
  width: 36px;
  height: 36px;
}

html[platform="iOS"] .Spinner__size--large svg {
  width: 54px;
  height: 54px;
}