.Cell {
  padding-left: 16px;
}

.Cell--selected>.Cell__background {
  border-radius: 8px;
  overflow     : hidden;
}

.Cell--separator::after {
  position        : absolute;
  content         : "";
  left            : 0;
  right           : 0;
  bottom          : 0;
  height          : 1px;
  background-color: var(--separator_primary);
}

.Cell__before {
  padding: 8px 16px 8px 0px;
}

.Cell__in {
  padding   : 8px 16px 8px 0px;
  min-height: 44px;
  box-sizing: border-box;
}


.Cell__title {}

.Cell__subtitle {}

.Cell__after {
  padding-left: 16px;
}