.Cell {
  padding-left: 6px;
}

.Cell--selected>.Cell__background {
  border-radius: 13px;
  overflow     : hidden;
}

.Cell__before {
  padding: 6px 8px 6px 0px;
}

.Cell__in {
  padding   : 6px 6px 6px 0px;
  min-height: 44px;
  box-sizing: border-box;
}

.Cell--separator>.Cell__content>.Cell__in::after {
  position        : absolute;
  content         : "";
  left            : 0;
  right           : 0;
  bottom          : 0;
  height          : 1px;
  background-color: var(--separator_primary);
}

.Cell__title {}

.Cell__subtitle {}

.Cell__after {
  padding-left: 8px;
}