html[platform="android"] .CheckBox {
  box-sizing: border-box;
  padding: 10px;
}

html[platform="android"] .CheckBox._active::after,
html[platform="android"] .CheckBox:checked._active::after {
  opacity: 0.12;
}

html[platform="android"] .CheckBox._hover::after,
html[platform="android"] .CheckBox:checked._hover::after {
  opacity: 0.08;
}


html[platform="android"] .CheckBox._hover::after {
  background-color: var(--radio_color-active);
}

html[platform="android"] .CheckBox._active::after {
  background-color: var(--radio_color-hover);
}

html[platform="android"] .CheckBox:checked._hover::after {
  background-color: var(--radio_color-hover);
}

html[platform="android"] .CheckBox:checked._active::after {
  background-color: var(--radio_color-active);
}

html[platform="android"] .CheckBox__input {
  width: 20px;
  height: 20px;
  border-radius: 4px;
  border: solid 2px var(--radio_color);
}

html[platform="android"] .CheckBox__icon {
  margin: 2px;
}

html[platform="android"] .CheckBox__input:checked~.CheckBox__icon {
  opacity: 1;
}

html[platform="android"] .CheckBox__input:checked {
  border: solid 2px var(--radio_color--selected);
  background-color: var(--radio_color--selected);
}

html[platform="android"] .CheckBox__input:disabled {
  border: solid 2px var(--radio_color--disabled);
  background-color: var(--radio_color--disabled);
}