html[platform="iOS"] .Radio {
  padding: 2px;
}

html[platform="iOS"] .Radio__input {
  width: 20px;
  height: 20px;
  border-radius: 20px;
  border: solid 2px var(--radio_color);
}

html[platform="iOS"] .Radio__circle {
  border-radius: 20px;
  margin: 5px;
}

html[platform="iOS"] .Radio__input:checked {
  border: solid 2px var(--radio_color--selected);
}

html[platform="iOS"] .Radio__input:disabled {
  border: solid 2px var(--radio_color--disabled);
}

html[platform="iOS"] .Radio__input:checked~.Radio__circle {
  background-color: var(--radio_color--selected);
}

html[platform="iOS"] .Radio__input:disabled:checked~.Radio__circle {
  background-color: var(--radio_color--disabled);
}