/* Color */
html[platform="iOS"] .Text--iOS__color--accent {
  color: var(--accent_color);
}

html[platform="iOS"] .Text--iOS__color--primary {
  color: var(--text_primary);
}

html[platform="iOS"] .Text--iOS__color--secondary {
  color: var(--text_secondary);
}

/* Size */
html[platform="iOS"] .Text--iOS__size--small {
  font-size: 12px;
  line-height: var(--line_height_12);
}

html[platform="iOS"] .Text--iOS__size--medium {
  font-size: 14px;
  line-height: var(--line_height_14);
}

html[platform="iOS"] .Text--iOS__size--large {
  font-size: 16px;
  line-height: var(--line_height_16);
}

/* Weight */
html[platform="iOS"] .Text--iOS__weight--400 {
  font-weight: 400;
}

html[platform="iOS"] .Text--iOS__weight--500 {
  font-weight: 500;
}

html[platform="iOS"] .Text--iOS__weight--600 {
  font-weight: 600;
}

html[platform="iOS"] .Text--iOS__weight--700 {
  font-weight: 700;
}