.Button {}

/* Size */
.Button__size--small {
  --button__padding-horizontal: 12px;
  --button__padding-vertical  : 8px;
  --button__gap               : 4px;
  border-radius               : 20px;
}

.Button__size--medium {
  --button__padding-horizontal: 16px;
  --button__padding-vertical  : 12px;
  --button__gap               : 6px;
  border-radius               : 8px;
}

.Button__size--large {
  --button__padding-horizontal: 12px;
  --button__padding-vertical  : 15px;
  --button__gap               : 8px;
  border-radius               : 8px;
}