.Root {
  width           : 100%;
  height          : 100%;
  background-color: var(--bg_color);
  overflow        : hidden;
  box-sizing      : border-box;
}

.Menu {
  width     : 30%;
  height    : 100%;
  padding   : 2px;
  box-sizing: border-box;
}

.Root__in {
  height    : 100%;
  width     : 100%;
  display   : flex;
  padding   : 10px 10px 0px 10px;
  box-sizing: border-box;
}