.Action {
  position: relative;
}

.Action:not(:only-child) {
  padding-top   : var(--plug_padding);
  padding-bottom: var(--plug_padding);
}

.Action:not(:only-child):first-child {
  padding-top: 0;
}

.Action:not(:only-child):last-child {
  padding-bottom: 0;
}