@import "./styles/iOS.module.css";
@import "./styles/android.module.css";
@import "./styles/windows.module.css";
@import "./styles/macOS.module.css";
@import "./styles/others.module.css";

.Cell {
  position: relative;
  color: var(--text_primary);
  transition: 0.3s;
}

.Cell__in {
  display: flex;
  align-items: center;
}

.Cell__in--separator::after {}

.Cell._disabled {
  opacity: var(--opacity_disable);
}

.Cell__content {
  position: relative;
  width: 100%;
  z-index: 2;
}

.Cell__before {
  position: relative;
}

.Cell__children {}

.Cell__description {}

.Cell__after {}

.Cell__background {
  transition: 0.3s;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  opacity: 0;
  z-index: 1;
}

.Cell._hover .Cell__background {
  background-color: var(--cell--hover);
  opacity: 0.3;
}

.Cell._active .Cell__background {
  background-color: var(--cell--hover);
  opacity: 0.6;
}