html[platform="android"] .Link::after {
  transition: 0.1s;
  left: -2px;
  right: -2px;
  top: 0;
  bottom: 0;
  border-radius: 4px;
}

html[platform="android"] .Link._hover::after {
  background-color: var(--link_color);
  opacity: 0.2;
}

html[platform="android"] .Link._active::after {
  background-color: var(--link_color);
  opacity: 0.4;
}