.Badge {
  font-weight: 400;
}

/* Size */
.Badge__size--small {
  padding      : 2px 4px;
  gap          : 2px;
  border-radius: 6px;
  font-size    : var(--font_size--small);
  line-height  : var(--font_height--small);
}

.Badge__size--medium {
  padding      : 4px 6px;
  gap          : 4px;
  border-radius: 8px;
  font-size    : var(--font_size--medium);
  line-height  : var(--font_height--medium);
}

.Badge__size--large {
  padding      : 6px 8px;
  gap          : 6px;
  border-radius: 10px;
  font-size    : var(--font_size--large);
  line-height  : var(--font_height--large);
}