html[platform="iOS"] {
  --font_size--small: 12px;
  --font_height--small: 16px;

  --font_size--medium: 14px;
  --font_height--medium: 18px;

  --font_size--large: 16px;
  --font_height--large: 20px;
}

html[platform="android"] {
  --font_size--small: 14px;
  --font_height--small: 18px;

  --font_size--medium: 16px;
  --font_height--medium: 20px;

  --font_size--large: 18px;
  --font_height--large: 22px;
}