.Root--to-next>.Root--first {
  animation: _iOSRootNextAnimation .4s cubic-bezier(0.36, 0.66, 0.04, 1) forwards;
}

.Root--to-next::before {
  animation: _upShadow .41s ease forwards;
}

.Root--to-back>.Root--last {
  animation: _iOSRootBackAnimation .41s cubic-bezier(0.36, 0.66, 0.04, 1) forwards;
}

.Root--to-back::before {
  animation: _downShadow .41s ease forwards;
}

@keyframes _iOSRootNextAnimation {
  from {
    transform: translateY(100%)
  }

  to {
    transform: translateY(0%)
  }
}

@keyframes _iOSRootBackAnimation {
  from {
    transform: translateY(0%)
  }

  to {
    transform: translateY(100%)
  }
}

@keyframes _upShadow {
  from {
    opacity: 0
  }

  to {
    opacity: 1
  }
}

@keyframes _downShadow {
  from {
    opacity: 1
  }

  to {
    opacity: 0
  }
}