.Plug {
  display        : flex;
  position       : relative;
  overflow       : hidden;
  width          : 100%;
  max-width      : 480px;
  box-sizing     : border-box;
  flex-direction : column;
  align-items    : center;
  justify-content: center;
  align-content  : center;
  margin         : 0 auto;
  padding        : 24px;
  justify-content: end;
}

.Plug__in {
  flex           : 1 1;
  display        : flex;
  flex-direction : column;
  justify-content: center;
  align-items    : center;
  height         : 100%;
}

/* Mode */

.Plug__mode--center {
  height: 100%;
}